<section class="birthday container">
  <h1 class="main-title">Популярні інетрактивні ігри</h1>
  <div class="line-box">
    <hr class="line" />
  </div>
  <h2 class="title-birthday">Перевір в який рік ти народився</h2>
  <div class="birthday-div">
    <div class="box-input">
      <input
        class="birthday-input"
        type="number"
        id="yearInput"
        placeholder="Введіть рік народження"
      />
      <!-- <button id="checkYearBtn" class="birthday-btn random-btn b-day-btn">
        <svg>
          <use class="search-btn" href="/svg/surch.svg"></use>
        </svg>
      </button> -->
    </div>
    <p class="birthday-text" id="yearResult">Ви народилися у високосний рік!</p>
  </div>
  <div class="line-box">
    <hr class="line" />
  </div>
</section>
