<section class="birthday container" data-type="numeric">
  <h1 class="main-title">Популярні інтерактивні ігри</h1>
  <div class="line-box">
    <hr class="line" />
  </div>
  <h2 class="title-birthday">Перевір в який рік ти народився</h2>
  <div class="birthday-div">
    <div class="box-input">
      <input
        class="birthday-input"
        type="number"
        id="yearInput"
        placeholder="Введіть рік народження"
      />
      <button id="checkYearBtn" class="birthday-btn random-btn b-day-btn">
        <svg class="search-btn" width="15px" height="15px">
          <use href="/svg/symbol-defs.svg#surch"></use>
        </svg>
      </button>
    </div>
    <div class="result-birthday" id="resultText"></div>
  </div>
  <div class="line-box">
    <hr class="line" />
  </div>
</section>
