<section class="birthday-check">
  <h1 class="main-title">Популярні інетрактивні ігри</h1>
  <hr class="line" />

  <h3 class="birthday-check-title">Перевір в який рік ти народився</h3>
  <input
    class="birthday-check-input"
    type="number"
    id="yearInput"
    placeholder="Введіть рік народження"
  />
  <button id="checkYearBtn" class="birthday-btn b-day-btn">
    <img src="/svg/surch.svg" class="search-btn" alt="search" />
  </button>
  <p class="birthday-text" id="yearResult"></p>
  <hr class="line" />
</section>
