<section class="calculator-section container">
  <h2 class="calculator-title">Калькулятор</h2>
  <div class="calculator-main-box">
    <input
      class="calculator-input"
      id="input1"
      type="text"
      placeholder="Введіть число"
    />
    <div class="calculator-box">
      <button id="btnPlus" class="calculator-btn">+</button>
      <button id="btnMultiplication" class="calculator-btn">*</button>
      <button id="btnMinus" class="calculator-btn">-</button>
      <button id="btnDivision" class="calculator-btn">/</button>
    </div>
    <input
      class="calculator-input"
      id="input2"
      type="text"
      placeholder="Введіть число"
    />
    <button class="calculator-btn" id="btnEqual">=</button>
    <input
      class="calculator-input"
      id="inputResult"
      type="text"
      placeholder="Результат"
    />
  </div>
  <div class="line-box">
    <hr class="line" />
  </div>
</section>
