<footer class="footer container">
  <div class="all-hui">
    <div>
      <svg class="footer-logo">
        <use href="./svg/symbol-defs.svg#logo"></use>
      </svg>
    </div>
    <ul class="btn-list">
      <li class="btn-item">
        <p class="btn-text-item">Тел: +38 (123) 456 78 90</p>
      </li>
      <li class="btn-item">
        <p class="btn-text-item">E-Mail: codingmagic@gmail.com</p>
      </li>
      <li class="btn-item">
        <p class="btn-text-item">Facebook: CodingMagic</p>
      </li>
      <li class="btn-item">
        <p class="btn-text-item">Twitter: CodingMagic</p>
      </li>
      <li class="btn-item">
        <p class="btn-text-item">Instagram: CodingMagic</p>
      </li>
    </ul>
    <div class="tum-zus">
      <div>
        <input
          type="bunner-text"
          class="input"
          placeholder="Ваша ел. адреса..."
        />
        <button type="button" class="btn-input">Підписатись</button>
      </div>
      <div>
        <p class="text">
          *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
        </p>
      </div>
    </div>
  </div>
</footer>
