<section class="guess-number container" data-type="numeric">
  <h2 class="title-guess">Вгадай число, яке загадав комп’ютер</h2>
  <div class="guess-div">
    <div class="boxed-input">
      <input
        class="guess-input"
        type="number"
        id="randomNum"
        placeholder="Введіть число"
      />
      <button id="checkBtn" class="guess-btn">
        <svg class="search-btn" width="15px" height="15px">
          <use href="/svg/symbol-defs.svg#surch"></use>
        </svg>
      </button>
    </div>
    <div class="result-birthday" id="guessText"></div>
  </div>
  <div class="line-div"><hr class="line" /></div>
</section>
