<header class="header">
    <div class="logo">
      <span>&lt;/&gt;</span>
      <span class="logo-text">Coding Magic</span>
    </div>
    <button class="greeting-btn">Вітаю, User!</button>
    <div class="burger" id="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </header>

  <nav class="side-menu" id="sideMenu">
    <button class="close-btn" id="closeBtn">&times;</button>
    <ul class="menu-links">
      <li>Інтерактив</li>
      <li>Наша Команда</li>
      <li>Контакти</li>
    </ul>
    <div class="contacts">
      <p>Тел: +38 (123) 456 78 90</p>
      <p>E-Mail: codingmagic@gmail.com</p>
      <div class="socials">
        <span>Facebook</span>
        <span>Twitter</span>
        <span>Instagram</span>
      </div>
    </div>
  </nav>

  <!-- модалка -->
  <div class="modal" id="nameModal">
    <div class="modal-content">
      <h2>Введіть ваше ім’я</h2>
      <input type="text" id="nameInput" placeholder="Ваше ім’я" />
      <button id="saveNameBtn">Зберегти</button>
    </div>
  </div>

  <!-- хуйня залупа тумблер хедер-->
  <label class="switch-icon">
      <input type="checkbox" id="themeToggle">
      <span class="slider-icon">
        <span class="icon sun">🌞</span>
        <span class="icon moon">🌙</span>
      </span>
    </label>
    
    

