<header class="header container">
  <div class="left-section">
    <div class="logo">
      <svg>
        <use href="./svg/symbol-defs.svg#logo"></use>
      </svg>
    </div>
  </div>

  <ul class="menu-links desktop-nav">
    <li class="dropdown">
      <span class="dropdown-toggle">Інтерактив</span>
      <ul class="dropdown-menu">
        <li><a href="#" data-filter="numeric">Числовий</a></li>
        <li><a href="#" data-filter="graphic">Графічний</a></li>
        <li><a href="#" data-filter="intro">Ознайомчий</a></li>
      </ul>
    </li>
    <li><a href="#team">Наша Команда</a></li>
  <li><a href="#contacts">Контакти</a></li>
  </ul>

  <label class="switch-icon">
    <input type="checkbox" id="themeToggle" />
    <span class="slider-icon">
      <span class="icon sun">
        <svg>
          <use class="icon-sunmoon" href="./svg/symbol-defs.svg#sun"></use>
        </svg>
      </span>
      <span class="icon moon">
        <svg>
          <use class="icon-sunmoon" href="./svg/symbol-defs.svg#moon"></use>
        </svg>
      </span>
    </span>
  </label>

  <button class="greeting-btn">Вітаю, User!</button>

  <div class="burger" id="burger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>

<nav class="side-menu" id="sideMenu">
  <button class="close-btn" id="closeBtn">&times;</button>
  <ul class="menu-links mobile-nav">
  <li><a href="#">Інтерактив</a></li>
  <li><a href="#team">Наша Команда</a></li>
  <li><a href="#contacts">Контакти</a></li>
</ul>

  <div class="contacts">
    <p>Тел: +38 (123) 456 78 90</p>
    <p>E-Mail: codingmagic@gmail.com</p>
    <div class="socials">
      <span>Facebook</span>
      <span>Twitter</span>
      <span>Instagram</span>
    </div>
  </div>
</nav>

<div class="modal" id="nameModal">
  <div class="modal-content greeting container">
    <button
      class="close-btn greeting-close"
      id="closeGreeting"
      aria-label="Закрити модалку"
    >
      ×
    </button>
    <p class="greeting-text">
      Привіт!<br />
      Ви потрапили на сайт інтерактивних ігор та завдань<br />
      Сподіваємося, що вам сподобається і ви отримаєте позитивні емоції!<br />
      Бажаємо Вам гарно провести час!
    </p>

    <h3>Введіть своє ім’я:</h3>
    <input type="text" id="nameInput" placeholder="Ваше ім’я…" />
    <button id="saveNameBtn">Зберегти</button>
  </div>
</div>
