<header class="header container">
  <div class="left-section">
    <div class="logo">
      <svg>
        <use href="./svg/symbol-defs.svg#logo"></use>
      </svg>
    </div>
  </div>

  <ul class="menu-links desktop-nav">
    <li class="dropdown">
      <span class="dropdown-toggle">Інтерактив</span>
      <ul class="dropdown-menu">
        <li><a href="#">Числовий</a></li>
        <li><a href="#">Графічний</a></li>
        <li><a href="#">Ознайомчий</a></li>
      </ul>
    </li>
    <li>Наша Команда</li>
    <li>Контакти</li>
  </ul>

  <button class="greeting-btn">Вітаю, User!</button>

  <div class="burger" id="burger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>

<nav class="side-menu" id="sideMenu">
  <button class="close-btn" id="closeBtn">&times;</button>
  <ul class="menu-links mobile-nav">
    <li>Інтерактив</li>
    <li>Наша Команда</li>
    <li>Контакти</li>
  </ul>
  <div class="contacts">
    <p>Тел: +38 (123) 456 78 90</p>
    <p>E-Mail: codingmagic@gmail.com</p>
    <div class="socials">
      <span>Facebook</span>
      <span>Twitter</span>
      <span>Instagram</span>
    </div>
  </div>
</nav>

<div class="modal" id="nameModal">
  <div class="modal-content">
    <h2>Введіть ваше ім’я</h2>
    <input type="text" id="nameInput" placeholder="Ваше ім’я" />
    <button id="saveNameBtn">Зберегти</button>
  </div>
</div>

<!-- <label class="switch-icon">
  <input type="checkbox" id="themeToggle">
  <span class="slider-icon">
    <span class="icon sun">sun</span>
    <span class="icon moon">moon</span>
  </span>
</label> -->
