<section class="rpsMakson container">
    <h2 class="title-rps">Камінь - ножиці - папір</h2>
  
    <div class="choices-rps">
      <div class="rps-icon">
        <svg>
          <use href="./svg/symbol-defs.svg#stone"></use>
        </svg>
      </div>
      <div class="rps-icon">
        <svg>
          <use href="./svg/symbol-defs.svg#paper"></use>
        </svg>
      </div>
      <div class="rps-icon">
        <svg>
          <use href="./svg/symbol-defs.svg#scissors"></use>
        </svg>
      </div>
    </div>
  
    
  
    <div class="rps-container">
      <div class="score" id="score">
        <p >Рахунок:</p>
        <p>Комп’ютер - 0</p>
        <p>Ви - 0</p>
      </div>

      <div class="choices-rps">...</div>
    
      
    </div>

    <p class="result-text" id="result"></p>

    <button class="rps-button" >Варіант комп’ютера</button>
  

    
  
    <hr class="line" />
  </section>
  