<section class="rpsMakson container">
    <h2 class="title-rps">Камінь - ножиці - папір</h2>
  
    <div class="choices-rps">
      <div class="rps-icon" onclick="play('камінь')">
        <img src="rock.svg" alt="Камінь" />
      </div>
      <div class="rps-icon" onclick="play('ножиці')">
        <img src="scissors.svg" alt="Ножиці" />
      </div>
      <div class="rps-icon" onclick="play('папір')">
        <img src="paper.svg" alt="Папір" />
      </div>
    </div>
  
    <p class="result-text" id="result"></p>
  
    <button class="rps-button" onclick="computerTurn()">Варіант комп’ютера</button>
  

    <div class="rps-container">
        <div class="choices-rps">...</div>
      
        <div class="score" id="score">
          <p >Рахунок:</p>
          <p>Комп’ютер - 0</p>
          <p>Ви - 0</p>
        </div>
      </div>
  
    <hr class="line" />
  </section>
  