<section class="threeNumberMakson container" data-type="numeric">
  <h2 class="title-threenum">Введіть 3 числа</h2>

  <div class="three-input-container">
    <input
      type="number"
      class="three-input"
      id="firstNumber"
      placeholder="Введіть число"
    />
    <input
      type="number"
      class="three-input"
      id="secondNumber"
      placeholder="Введіть число"
    />
    <input
      type="number"
      class="three-input"
      id="thirdNumber"
      placeholder="Введіть число"
    />
  </div>

  <p class="result-text" id="result-text">Найбільше число, яке ви ввели -</p>

  <div class="line-box">
    <hr class="line" />
  </div>
</section>
