<section class="time-calculator container">
  <h2 class="time-calculator-title">Калькулятор часу</h2>
  <div class="time-calculator-box">
    <input
      class="time-calculator-input"
      id="time-calculator-input"
      type="text"
      placeholder="Введіть число"
    />
    <button id="checkYearBtn" class="time-btn">
      <svg class="search-btn" width="15px" height="15px">
        <use href="/svg/symbol-defs.svg#surch"></use>
      </svg>
    </button>
    <p class="time-calculator-p">----------------</p>
    <div class="dots-result-box">
      <span id="time-calculator-result">...</span>
    </div>
  </div>
  <div class="line-box">
    <hr class="line" />
  </div>
</section>
