<section class="time-calculator container">
  <h2 class="time-calculator-title">Калькулятор часу</h2>
  <div class="time-calculator-box">
    <input
      class="time-calculator-input"
      id="input"
      type="text"
      placeholder="Введіть число"
    />
    <button id="checkTimeBtn" class="time-calculator-btn">
      <img class="search-btn" href="/svg/surch.svg" /><img />
    </button>
    <p class="time-calculator-p">-------------</p>
    <p class="time-calculator-result" id="result"></p>
  </div>
  <div class="line-box">
    <hr class="line" />
  </div>
</section>
