.birthday {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-weight: 400;
  padding-top: 36px;
}

.title-birthday {
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.birthday-input {
  /* padding: 10px 30px 10px 10px;
  gap: 10px;
  width: 215px;
  font-size: 12px;
  height: 42px;
  border-radius: 20px;
  background: #d7d7d7;
  border: none;
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px; */
  display: flex;
  justify-content: center;
  color: rgb(126, 126, 126);
  background-color: rgb(215, 215, 215);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 14px;
  padding: 10px;
}

.box-input {
  padding-right: 149px;
  display: flex;
  justify-content: center;
}

.birthday-text {
  color: #039900;
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
}

.birthday-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.birthday-btn {
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-left: -12px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding-left: 5px;
  padding-right: 5px;
}
/* .search-btn {
} */
.result-birthday {
  color: #039900;
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.line-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.line {
  width: 320px;
  border: 0.5px solid #000000 !important;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 22px;
  }

  .title-birthday {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .birthday-input {
    height: 35px;
    /* margin-right: 149px; */
  }
  .birthday-div {
    flex-direction: row;
  }
  .line {
    width: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 24px;
  }
  .title-birthday {
    font-size: 16px;
    padding-top: 36px;
  }
}



