.footer {
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.footer-logo {
  width: 165px;
  height: 70px;
  margin-bottom: 45px;
  margin-top: 45px;
}
.btn-list {
}
.btn-item {
}
.btn-text-item {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  text-align: center;
}
.tum-zus {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.input {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 287px;
  height: 42px;
  display: inline-flex;
  padding: 4px 10px 4px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #d7d7d7;
  margin-top: 20px;
}
.btn-input {
  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #000;
  margin-bottom: 25px;
  margin-top: 20px;
}
.text {
  font-family: "Montserrat Alternates";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.menu-open {
  border: none;
  background-color: rgb(43, 33, 33);
}
.menu-open-icon {
  margin-left: 275px;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.804);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}
.menu {
  position: absolute;
  top: 29%;
  left: 33%;
  width: 463px;
  height: 245px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
}
.close-menu {
  border: none;
  background-color: #fff;
  margin-left: 398px;
  margin-top: 10px;
}
.menu-title {
  margin-top: 83px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .all-hui {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .tum-zus {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
}
/* module */
