@import "css/container.module.css";
@import "css/reset.module.css";
@import "css/header.module.css";
@import "css/hero.module.css";
@import "css/birthday.module.css";
@import "css/timecalculator.module.css";
@import "css/calculator.module.css";
@import "css/googledino.module.css";
@import "css/football.module.css";
@import "css/guess.module.css";
@import "css/rps.module.css";
@import "css/threenum.module.css";
@import "css/team.module.css";
@import "css/scientist.module.css";
@import "css/footer.module.css";


:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --card-bg: #f3f3f3;
  }
  
  /* .dark-theme {
    --bg-color: #121212;
    --text-color: #ffffff;
    --card-bg: #1e1e1e;
  } */

  .dark-theme {
    --bg-color: #414040;
    --text-color: #ffffff;
    --card-bg: #1e1e1e;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  